.nav-item-container {
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 6px #b8b9be,
    -3px -3px 6px #ffffff;
  background: #efefef;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-brand, .nav-item {
  display: inline-block;
}

.nav-brand-logo {
  height: 50px;
  width: auto;
}

.nav-item {
  display: inline;
  padding: 10px;
}
