.nav-navbar {
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 6px #b8b9be,
    -3px -3px 6px #ffffff;
  background: #efefef;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-brand {
  justify-content: start;
  height: 50px;
  width: 50px;
}

.nav-item {
  display: inline;
  padding: 5px;
}
