@import url("../../global/styles.css");

.card {
	border-radius: 1em;
	background-color: #eaeaea;
	outline: none;
	transition: all 100ms ease;
	box-shadow:
		0.3rem 0.3rem 0.6rem #c8d0e7,
		-0.2rem -0.2rem 0.5rem #ffffff;
	font-family: "Nunito", sans-serif;
	color: #31344b;
}

.card-splash {
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}

.bg-card {
}
