@import url("../../global/styles.css");

.card {
	margin: 2rem;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	border-radius: 50px;
	background: var(--background);
	padding: 40px;
	height: 150px;
	width: 300px;
}
