@import url('../../global/styles.css');

.button {
  border: none;
  font-family: monospace;
  padding: 15px 20px;
  transition: .2s box-shadow ease-in-out;
  border-radius: 10px;
  background: #efefef;
  filter: blur(10);
  outline: none;
  transition: 0.3s all ease;
  cursor: pointer;
  height: fit-content;
  box-shadow:
    var(--depression-s) var(--depression-xs) var(--elevation-s) 0px #ffffff,
    8px var(--elevation-xs) var(--elevation-m) 0px #b8b9be,
    var(--elevation-xs) var(--elevation-xs) var(--elevation-xs) 0px #b8b9be inset,
    var(--depression-xs) var(--depression-xs) var(--elevation-xs) 0px hsl(0, 0%, 100%) inset;
}


.button:hover {
  cursor: pointer;
}

.button-focus {
  transition: none;
  border: 0.5px dashed black;
}

.button:active {
  background: #efefef;
  box-shadow: inset var(--elevation-xs) var(--elevation-xs) var(--elevation-s) #bebebe,
    inset var(--depression-xs) var(--depression-xs) var(---elevation-s) #ffffff;
}

.button.primary {
  color: black
}

.button.secondary {
  color: blue;
}

.button.danger {
  color: red;
}

.button.success {
  color: green;
}

.button.info {
  color: steelblue;
}
