.button {
  border: none;
  padding: 15px 50px;
  transition: .2s ease-in-out;
  border-radius: 15px;
  background: #efefef;
  box-shadow: 10px 10px 20px #bebebe,
    -10px -10px 20px #ffffff;
}

.button:hover {
  box-shadow: 5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
}

.button:active {
  border-radius: 15px;
  background: #efefef;
  box-shadow: inset 4px 4px 8px #bebebe,
    inset -4px -4px 8px #ffffff;
}