.button {
  border: none;
  padding: 15px 20px;
  transition: .2s box-shadow ease-in-out;
  border-radius: 15px;
  background: #efefef;
  box-shadow: 3px 3px 6px #b8b9be,
  -3px -3px 6px #ffffff;
}


.button:hover {
  box-shadow: 1px 1px 2px #bebebe,
    -1px -1px 2px #ffffff;
}

.button:active {
  border-radius: 15px;
  background: #efefef;
  box-shadow: inset 4px 4px 8px #bebebe,
    inset -4px -4px 8px #ffffff;
}

.primary {
  color: black
}

.secondary {
  color: blue;
}

.danger {
  color: red;
}

.success {
  color: green;
}

.info {
  color: steelblue;
}
