input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
  }

.sui-slider-input {
    background-color: var(--back-color);
    border-radius: 10px;
    border: 4px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
    position: relative;
}

.sui-slider::-moz-range-thumb {
    height: 16px;
    background-color: #185BF1;
    margin-top: -20px;
    margin-left: 4px;
    border-radius: 8px;
    opacity: 1;
    animation: sliding 3s ease infinite;
    height: 200px !important;
    position: relative;
    z-index: 2 !important;
}

.sui-slider-track-progress {
    width: 30px;
    background: #185BF1;
    position: relative;
    height: 16px;
    border-radius: 10px;
    transform: translate(5px, 22px);
}

.sui-slider::-webkit-slider-runnable-track {

}

