input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
  }

.sui-slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #fff;
    margin: 4em auto;
    user-select: none;
    width: 90vw;
    max-width: 30em;
}

.sui-slider-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1em;
    outline: none;
    background-color: var(--back-color);
    border-radius: 15px;
    /* border: 4px solid #f3f4f7; */
    box-shadow:     -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
    position: relative;
    cursor: pointer;
}

.sui-slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    z-index: 3;
    position: relative;
}


.sui-slider::-moz-range-thumb {
    height: 16px;
    background-color: #185BF1;
    margin-top: -20px;
    margin-left: 4px;
    border-radius: 8px;
    opacity: 1;
    animation: sliding 3s ease infinite;
    height: 200px !important;
    position: relative;
    z-index: 2 !important;
}

.sui-slider-track-progress {
    width: 0;
    height: 0.9em;
    border-radius: 10px;
    background: #185BF1;
    /* background: linear-gradient(90deg,
    #55e0ff,
    #3193fc); */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    pointer-events: none;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

.slider-thumb {
    position: absolute;
    width: 1em;
    height:0.85em;
    background: #ecf0f3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -0.25em;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
    transition: transform 0.1s linear;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}