.textField-container {
  font-family: monospace;
}

.textField-label {
  display: block;
  padding: 5px;
}

.textField {
  font-family: inherit;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}