.checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-label:hover .label-text {
  opacity: 1;
}

.checkbox-label:hover .checkbox-state:not(:checked)~.custom-checkbox {
  box-shadow: 1px 1px 2px hsl(264, 4%, 77%),
    -1px -1px 2px #ffffff;
}

.checkbox-state {
  display: none;
}

.checkbox-state:checked~.label-text {
  opacity: 1;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  position: relative;
  height: 18px;
  width: 18px;
  margin: 8px 0;
  transition: .2s box-shadow ease-in-out;
  border-radius: 20%;
  background: #efefef;
  box-shadow: 3px 3px 6px #b8b9be,
    -3px -3px 6px #ffffff;
}

.checkbox-state:checked+.custom-checkbox {
  box-shadow:
    2px 1px 6px hsl(0, 0%, 65%),
    -3px -3px 6px #ffffff,
    inset 1px 1px 1px hsl(0, 0%, 60%),
    inset -4px -4px 8px #ffffff;
}

.label-text {
  opacity: .6;
  margin-left: 8px;
  transition: opacity .2s linear, transform .2s ease-out;
}
